//- Info
meta(name="robots", content="all")
meta(name="description", content="g0vhk 香港零時政府")
meta(name="keywords", content="開放數據,公民黑客,開放源始,零時政府,監察政府")
meta(name="author", content="")
meta(name="rating", content="General")
meta(name="date", content="")
meta(name="copyright", content="")
meta(name="contact", content="")
meta(name="reply-to", content="")
meta(name="generator", content="Sublime Text 3")
//- Open Graph - http://ogp.me/
meta(property="og:site_name", content="香港警隊的法定權力及監管")
meta(property="og:title", content= "g0vhk 香港零時政府")
meta(property="og:type", content="website")
meta(property="og:url", content="https://g0vhk.io")
meta(property="og:image", content="/img/og_image.png")
meta(property="og:image:width", content="1200")
meta(property="og:image:height", content="630")
meta(property="og:description", content="")
meta(property="og:locale", content="")
